h3{
    padding: 0px;
    margin: 0px;
}

.container-Produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: 0px auto;
    gap: 30px;
}

.container-Produtos img{
    border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.container-Produtos a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}



















