.aboutMe{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 100px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    box-shadow: 10px 10px 0px #FFE03A;
    border-radius: 10px;

}

.foto{
    background-color: #181818;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px ;
}

.foto .infos{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    color: #c4c4c4;
    gap: 8px;
}

.foto .buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons img{
    background-color: #FFE03A;
    border-radius: 5px !important;
    padding: 7px;
}

.foto img{
    border-radius: 13px;
}

/*Area do texto*/

.destaque{
    color: #FFE03A;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.subtitle{
    font-size: 1rem;
    font-weight: 600;
}


.text{
    color: #acacac;
    padding: 25px;
    background-color: #0E0E0E;
    border-radius: 0px 10px 10px 0 ;
}

.text h1{
    font-size: 2.5rem;
    font-weight: normal;
}

.text p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

